In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
df=pd.read_csv('shoe_sales.csv')
df.head(44)

         date   brand  sold_qty
0    9/1/2023    Nike      24.0
1    9/1/2023  Adidas      14.0
2    9/2/2023    Nike      21.0
3    9/2/2023  Adidas      12.0
4    9/3/2023    Nike      18.0
5    9/3/2023  Adidas      11.0
6    9/4/2023    Nike      22.0
7    9/4/2023  Adidas      13.0
8    9/5/2023    Nike      20.0
9    9/5/2023  Adidas      10.0
10   9/6/2023    Nike      23.0
11   9/6/2023  Adidas      15.0
12   9/7/2023    Nike      19.0
13   9/7/2023  Adidas      16.0
14   9/8/2023    Nike      17.0
15   9/8/2023  Adidas       8.0
16   9/9/2023    Nike      25.0
17   9/9/2023  Adidas      17.0
18  9/10/2023    Nike      14.0
19  9/10/2023  Adidas       7.0
20  9/11/2023    Nike      23.0
21  9/11/2023  Adidas       9.0
22  9/12/2023    Nike      19.0
23  9/12/2023  Adidas     689.0
24  9/13/2023    Nike      16.0
25  9/13/2023  Adidas      11.0
26  9/14/2023    Nike      22.0
27  9/14/2023  Adidas      13.0
28  9/15/2023    Nike      17.0
29  9/15/2023  Adidas      10.0
30  9/16/2023    Nike      21.0
31  9/16/2023  Adidas      14.0
32  9/17/2023    Nike       NaN
33  9/17/2023  Adidas       8.0
34  9/18/2023    Nike      18.0
35  9/18/2023  Adidas      15.0
36  9/19/2023    Nike      15.0
37  9/19/2023  Adidas       7.0
38  9/20/2023    Nike      24.0
39  9/20/2023  Adidas      19.0
40  9/21/2023    Nike      24.0
41  9/21/2023  Adidas      18.0
42  9/22/2023    Nike      16.0
43  9/22/2023  Adidas      12.0

In [13]:
df.describe()

         sold_qty
count   58.000000
mean    27.482759
std     88.519844
min      7.000000
25%     12.250000
50%     16.000000
75%     19.750000
max    689.000000

In [41]:
df[df.sold_qty<=20].shape

(45, 3)

In [47]:
45/60

0.75

## 1.Nike analysis

In [52]:
df_nike=df[df['brand']=='Nike']
df_nike.shape

(30, 3)

In [54]:
df_nike.describe()

        sold_qty
count  28.000000
mean   19.642857
std     3.117624
min    14.000000
25%    17.000000
50%    19.500000
75%    22.000000
max    25.000000

In [64]:
val=round(df_nike.sold_qty.median())

In [60]:
df_nike[df_nike.sold_qty.isnull()]

         date brand  sold_qty
32  9/17/2023  Nike       NaN
48  9/25/2023  Nike       NaN

In [66]:
df_nike.sold_qty.fillna(val,inplace=True)

/var/folders/6v/drd5_y1x1pd1dvv6d496_7rm0000gn/T/ipykernel_33633/496827104.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_nike.sold_qty.fillna(val,inplace=True)
/var/folders/6v/drd5_y1x1pd1dvv6d496_7rm0000gn/T/ipykernel_33633/496827104.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nike.sold_qty.fillna(val,inplace=True)

In [68]:
df_nike[df_nike.sold_qty.isnull()]

Empty DataFrame
Columns: [date, brand, sold_qty]
Index: []

In [76]:
# loc is the location function 
df_nike.loc[[38,48]]

         date brand  sold_qty
38  9/20/2023  Nike      24.0
48  9/25/2023  Nike      20.0